.navbar{
    width: 100%;
    height: 60px;
    background-color: darkgrey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.button{
    align-items: flex-end;
    width: 100%;
}

.logo{
    width: 50%;
    margin-left: 20px;
}