.mainContainer{
    color: black;
    width: 80%;
    height: 100vh;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:gainsboro;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.tables{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    align-items: center;
    justify-content: center;
    background-color:gainsboro;
    margin: 0 auto;
}




